RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*) index.php?/$1  

php_flag authmail.debug ON
php_value authmail.address contato@quizdacopa_.com.br
php_value authmail.smtp_account contato=quizdacopa_.com.br
php_value authmail.smtp smtp.quizdacopa_.com.br
php_value authmail.password ''  